body{
    padding:10px;
    background-image: url("https://images.pexels.com/photos/1831234/pexels-photo-1831234.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: 100%;
    }
.my-container{
    padding-top: 100px;
    border:1px solid;
    border-radius:1rem;
    border-color:black;
    padding: 60px; 
    width:550px;
    font-size:20px;
    /* background-color:white; */
    }

