*{
    padding-left: 2%;
    padding-right: 2%;
}
.welcome{
    padding-top: 5px;
    text-align: center;
}

.my-container{
    height: 35%;
    width:70%;
    background-color:lightgreen;
    border-radius:10px;
    padding: 5px;
}

.mytable{
    font-size: large;
    border-width: 20%;
}